html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.mdc-deprecated-list-item {
  height: 70px;
}

h2 {
  font-weight: 500;
}

.mdc-data-table__pagination {
  border-top-width: 0px;
}

.remove {
  cursor: pointer;
}