@use "sass:color";

@use "@material/theme/color-palette";

@use "@material/theme/index" as theme with (
	$primary: #6a1b9a,
	$secondary: #676778,
	$surface: #fff,
	$background: #fff,
	$error: color-palette.$red-900
);

$mdc-typography-font-family: unquote("Open Sans, Roboto, sans-serif");

.mdc-data-table__table-container {
	overflow-x: scroll;
}
.mdc-data-table__cell {
	overflow: visible;
}

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

.overflow-show {
	overflow: visible;
}
