name: Release workflow

on:
  push:
    tags:
      - "v[0123456789].*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install Poetry
        uses: snok/install-poetry@v1.3.3
        with:
          virtualenvs-in-project: true
          virtualenvs-path: ~/.virtualenvs
      - name: Install Poetry Dependencies
        run: poetry install --no-interaction --no-root
      - name: Install NPM packages
        run: |
          cd frontend/
          npm i
      - name: Build frontend
        run: |
          cd frontend/
          npm run build
          node build.js
      - name: Build poetry project
        run: |
          cd zeno/frontend
          rm index.html
          mv index_tmp.html index.html
          poetry build -v
      - name: publish
        run: |
          poetry publish -u __token__ -p ${{ secrets.PYPI_TOKEN }}
