name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install Poetry
        uses: snok/install-poetry@v1.3

      - name: Cache Poetry virtualenv
        uses: actions/cache@v3.0.4
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Set Poetry config
        run: |
          poetry config virtualenvs.in-project false
          poetry config virtualenvs.path ~/.virtualenvs

      - name: Install dependencies
        run: poetry install --no-interaction
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Check types
        run: make typecheck

      - name: Check Poetry
        run: make check

      - name: Install NPM packages
        run: |
          cd frontend/
          npm i

      - name: Lint
        run: make lint

      - name: Build frontend
        run: |
          cd frontend/
          npm run build

      - name: Run Python tests
        run: poetry run pytest ./zeno/tests/*

      - name: Run Frontend tests
        run: |
          cd frontend/
          npm run test
