name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install Poetry
        uses: snok/install-poetry@v1.3
      - name: Cache Poetry virtualenv
        uses: actions/cache@v3.0.3
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}
      - name: Set Poetry config
        run: |
          poetry config virtualenvs.in-project false
          poetry config virtualenvs.path ~/.virtualenvs
      - name: Install dependencies
        run: poetry install --no-interaction
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Install NPM packages
        run: |
          cd frontend/
          npm i

      - name: Run tests
        run: poetry run pytest --cov=./ --cov-report=xml ./zeno/tests/*
      - name: Check types
        run: make typecheck
      - name: Check Poetry
        run: make check

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: true

      - name: Build frontend
        run: |
          cd frontend/
          npm run build

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
      - uses: psf/black@stable
        with:
          src: "./zeno"
          version: "22.3.0"
      - uses: py-actions/flake8@v2
        with:
          path: "./zeno"
